body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f4f6f8;
line-height: 1.6;
margin: 0;
padding: 0;
}
header {
    background: linear-gradient(135deg, #1e90ff, #b3dbff);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 60px 20px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
}

.header p {
    font-size: 16px;
}

header img {
width: 120px;
}

.header a{
    color: white;
    text-decoration: none;
}

.section {
    background-color: white;
    border-radius: 15px;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.section p {
    margin-bottom: 20px;
}
section a {
    display: inline-block;
    padding: 10px 25px;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.section a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}
judul {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

.item ul li{
    text-decoration: none;
}
nav ul{
    list-style: none;
    padding: 0;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 20px;
}
nav ul li{
    display: inline;
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}
main{
    padding: 20px;
     max-width: 900px;
     margin: 20px auto;
     background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 h1, h2{
            color: black;
            text-align: center;
    }
section{
    background: rgb(246, 248, 240); 
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
aside{
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

#Home {
    padding: 60px 20px;
    text-align: center;
}

#Home h2 {
    font-size: 42px;
    font-weight: bold;
    color: #000000;
}

#Home p {
    font-size: 20px;
    max-width: 700px;
    margin: 15px auto;
    line-height: 1.5;
}
.box {
    padding: 40px 30px;
    text-align: center;
    margin: 80px 0;
    scroll-margin-top: 100px;
}

.box h2 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 15px;
}

.box p {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.6;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 20px;
    justify-items: center;
}
#Struktur {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    margin-top: 130px; 
    list-style: none;
}

#Struktur ul li{
    font-weight: bold;
    list-style: none;
    text-align: justify;
}

.item {
    background: white;
    flex: 1 1 calc(33% - 10px);
    padding: 25px;
    border-radius: 12px;
    max-width: 900px; 
    width: 100%;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    border: 2px solid #0e0d07;  
}

.item h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.item h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item p {
    font-size: 17px;
    line-height: 1.3;
    text-align: justify;
}
.item img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover; 
    display: block;
}
section {
padding: 20px;
}
h2 {
color: #1e3a8a;
border-bottom: 2px solid #1e3a8a;
}
.card-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 15px;
}
.card {
background-color: white;
border-radius: 10px;
color: bla;
padding: 15px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
text-align: center;
}
.card img {
width: 120px;
height: 120px;
object-fit: cover;
border-radius: 50%;
}
.card a {
text-decoration: none;
color: #1e40af;
font-weight: bold;
}

footer {
text-align: center;
padding: 15px;
background-color: #1e3a8a;
color: white;
}